/*                                                                                      |
  Humble New Tab Page Theme                                                             |
                                                                                        |
  [NightlyFox]                                                                          |
  by Burakbo https://github.com/Burakbo                                                 |
                                                                                        |
  inspired by akshat46's [FlyingFox]                                                    |
  https://github.com/akshat46/FlyingFox/                                                |
                                                                                        |
  color scheme inspiration Firefox Nightly.                                |
                                                                                        |
----------------------------------------------------------------------------------------|  
  
  go like color-n-a #hex; and color-n2-b #hex; for every n 
  if you want gradient.
  
  I went with single a color for my design with --folder-color
  
  
*/

/* Color palette: Firefox Nightly-ish colors */
:root {
  --accent-color-1: #3f70bd;
  --accent-color-2: #7e3476;

  /* tweak around these if you want gradient bookmarks
     and add them to the list items below, */
  /*
  --color-1-a: #3f70bd;
  --color-1-b: #7e3476;
  */

  --folder-color: #151515;

  --shadow-color: #131313;
}

#main a {
  position: relative;
  margin-bottom: 22px; /* gap inbetween the folders */
  box-sizing: border-box;
  min-width: 330px; /* width of rectangle folders, set minimum width to the largest folder */
  transition: all 0.42s ease-in-out !important; /* animation speed back to default color */
  font-weight: 400;
  font-family: Fira Code;
}

/* change to gradient on mouseover */
li a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to right,
    var(--accent-color-1),
    var(--accent-color-2)
  ) !important; /* gradient color from accent colors */
  opacity: 0; /* initially hidden */
  z-index: -1;
  transition: opacity 0.42s linear; /* animation speed into gradient color */
}

a:hover::before {
  opacity: 1; /* here its displayed only on mouseover*/
}

#main li a:hover {
  transform: scale(1.3); /* increse scale to make bookmarks like "pop out" */
}

#main a .icon {
  filter: opacity(66%); /* icon opacity*/
}

/* inverted the github icon color here (n=2 in my case)
   so it becomes visible on my dark bg
   remember: icons of position n=2 will always be inverted if you don't change this */

#main li:nth-of-type(2) a .icon {
  filter: invert(100%);
}

/*every n list item looks like this,
you can make the list items appear differently by telling
which index you want to change instead of all n items */

#main li:nth-of-type(n) a {
  background: var(--folder-color);
  box-shadow: 2px 7px 18px -5px var(--shadow-color);
}

.folder {
  background: var(--folder-color) !important;
  box-shadow: 2px 7px 18px -5px var(--folder-color) !important;
}

#main .null a {
  background: var(--folder-color) !important;
  box-shadow: 2px 7px 18px -5px var(--folder-color) !important;
}

#main .column {
  margin-right: 20px;
}
